
    .newForm{
        width: 37%;
        position: absolute;
        bottom: 0;
        background-color: #8e8e8e;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0px, 20px;
        color: white;
        input{
            flex: 1;
            padding: 20px;
            border: none;
            outline: none;
            background-color: transparent;
        }

        button, label{
            border-radius: 50%;
            background-color: #535255;
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
            gap: 20px;
            img{
                width: 16px;
                height: 16px;
            }
        }

    }
