.homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;

    @media screen and (max-width:1024px){
        flex-direction: column;
        gap: 0px;
    }
    .main{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 16px;
        text-align: center;

        h1{
            font-size: 128px;
            background: linear-gradient(to right, #217bfe, rgb(218, 218, 218));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            @media screen and (max-width:1024px){  
                max: width 100%;
                font-size: 68px;
            }
        }
        h2{
            font-weight: 400;
            max-width: 70%;
            @media screen and (max-width:1024px){  
                max: width 100%;
                font-size: 16px;
            }
        }
        a{
            padding: 15px 25px;
            background-color: #217bfe;
            color: whitesmoke;
            border-radius: 20px;
            font-size: 14px;
        }
    }
}