.dashboardPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .texts{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        
        h1{
            font-size: 64px;
            background: linear-gradient(to right, #217bfe, rgb(218, 218, 218));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0.5;

            @media screen and (max-width:1024px){  
                max: width 100%;
                font-size: 32px;
            }
        }
    }
    .formContainer{
        margin-top: auto;
        width: 50%;
        background-color: #8e8e8e;
        border-radius: 20px;
        display: flex;

        form{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 10px;

            input{
                flex: 1;
                padding: 20px;
                background-color: transparent;
                border: none;
                outline: none;
            }
            button{
                background-color: #605e68;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                padding: 10px;
                align-items: center;
                margin-right: 20px;
                
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}